ARG BUILDER={{ builder }}

FROM ${BUILDER} as base

{{ files }}
{%- if requirements %}
{{ requirements }}
{% endif %}

HEALTHCHECK --interval=5s --timeout=10s --retries=5 CMD healthcheck

{{ entrypoint }}