ARG BUILDER={{ builder }}

FROM ${BUILDER}

{%- if tags %}
{% for k, v in tags.items() -%}
LABEL "{{ k|lower }}"="{{ v }}"
{% endfor %}
{% endif %}

{{ files }}
{%- if requirements %}
{{ requirements }}
{% endif %}

{{ entrypoint }}